// color
$color-primary: #55c57a;
$color-primary-light: #ffcdcd;
$color-primary-dark: #f06d6d2c;

$color-grey-light-1: #f7f7f7;

$color-write: #fff;
$color-black: #000;

// grid
$grid-width: 114rem;
$grid-margin-bottom: 8rem;
$grid-margin-horizontal: 6rem;
